<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/e3b0160650.js" crossorigin="anonymous"></script>
  <title>ChatGpt</title>
</head>

<body>
<div class="lateral">
  <button type="button" class="myButton">
    <i class="fa fa-plus"></i> New Chat
  </button>
</div>
<div class="container">
  <div class="title">
    <h1>ChatGPT</h1>
  </div>
  <div id="app">
    <div id="chat_container"></div>
    <form>
      <textarea name="prompt" rows="1" cols="1" placeholder="Digite algo..."></textarea>
      <button type="submit"><img src="assets/enviar.png" alt="enviar"></button>
    </form>
  </div>
  <script type="module" src="script.js"></script>
</div>



</body>

</html>
